notebooks_test/fashiongen_256_256_train.h5
cocoapi/test2017/*
cocoapi/val2017/*
.ipynb_checkpoints/
pycocotools/__pycache__/
pycocotools/_mask.cpython-36m-x86_64-linux-gnu.so
.DS_Store
cocoapi/PythonAPI/build/*
cocoapi/PythonAPI/pycocotools/__pycache__/*
cocoapi/PythonAPI/pycocotools/_mask.cpython-37m-darwin.so
test/__pycache__/*
test/pose/*
